<div class="vertical-center">
  <div class="container">
    <%= link_to '/auth/twitter', class: "btn btn-block btn-social btn-twitter", style: "width: 250px;" do %>
      <span class="fa fa-twitter"></span>
      Twitterでログイン
    <% end %>
  </div>
</div>