<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doorkeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t('doorkeeper.layouts.admin.nav.oauth2_provider'), oauth_applications_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <%= content_tag :li, class: "#{'active' if request.path == oauth_applications_path}" do %>
        <%= link_to t('doorkeeper.layouts.admin.nav.applications'), oauth_applications_path %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to t('doorkeeper.layouts.admin.nav.home'), root_path %>
      <% end %>
      <% if signed_in? %>
        <%= content_tag :li do %>
          <%= link_to "Sign out", admin_sessions_path, method: :delete %>
        <% end %>
      <% end %>
      <%= content_tag :li do %>
        <%= link_to "お酒管理", admin_sakes_path %>
      <% end %>
    </ul>
  </div>
</div>
<div class="container">
  <%- if flash[:notice].present? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end -%>
  <%- if flash[:success].present? %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end -%>
  <%- if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end -%>

  <%= yield %>
</div>
</body>
</html>
