<table class="table table-striped">
  <tbody>
    <tr>
      <td>お酒名</td>
      <td><%= f.text_field :name, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>読み</td>
      <td><%= f.text_field :yomi, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>カテゴリ</td>
      <td><%= f.text_field :tag_list, {class: 'form-control', data: {role: 'tagsinput'}, value: @sake.tag_list.join(',')} %></td>
    </tr>
    <tr>
      <td>蔵元</td>
      <td><%= f.text_field :kuramoto, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>都道府県</td>
      <td><%= f.text_field :locality, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>原料米</td>
      <td><%= f.text_field :raw_rice, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>精米度</td>
      <td><%= f.text_field :cleaning_rate, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>日本酒度</td>
      <td><%= f.text_field :nihonsyu_degree, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>アミノ酸度</td>
      <td><%= f.text_field :amino_degree, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>アルコール度</td>
      <td><%= f.text_field :alcohol_content, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>酸度</td>
      <td><%= f.text_field :acidit, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>使用酵母</td>
      <td><%= f.text_field :use_yeast, class: 'form-control' %></td>
    </tr>
  </tbody>
</table>

<script>
  var tags = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
      url: "<%= tags_admin_sakes_url %>",
      filter: function(list) {
        return list;
      }
    }
  });
  tags.initialize();

  $('#sake_tag_list').tagsinput({
    typeaheadjs: {
      name: 'tags',
      source: tags.ttAdapter()
    },
    freeInput: true
  });
</script>