<%= link_to '新規作成', new_admin_sake_path, class: 'btn btn-success' %>
<table class="table table-striped">
  <thead>
    <th>お酒名</th>
    <th>読み</th>
    <th>蔵元</th>
    <th>都道府県</th>
    <th>原料米</th>
    <th>精米度</th>
    <th>日本酒度</th>
    <th>アミノ酸度</th>
    <th>アルコール度</th>
    <th>酸度</th>
    <th>使用酵母</th>
  </thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr>
        <td><%= link_to sake.name, edit_admin_sake_path(sake.id) %></td>
        <td><%= sake.yomi %></td>
        <td><%= sake.kuramoto %></td>
        <td><%= sake.locality %></td>
        <td><%= sake.raw_rice %></td>
        <td><%= sake.cleaning_rate %></td>
        <td><%= sake.nihonsyu_degree %></td>
        <td><%= sake.amino_degree %></td>
        <td><%= sake.alcohol_content %></td>
        <td><%= sake.acidit %></td>
        <td><%= sake.use_yeast %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sakes %>